@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>

<p>La Plataforma de Interoperabilidad y Autenticación del Estado (PINTAE), 
    tiene como objetivo principal automatizar la realización de ciertos servicios, trámites o datos.
</p>
