@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    Dirección Edificio Ciencia y Tecnología: 50 metros Este del Museo <br />
    San José, Apartado Postal: 5589.1000<br />
    <abbr title="Phone">Tel:</abbr>
    2539-2200
</address>

<address>
    <strong>Soporte:</strong>   <a href=" micitt@micit.go.cr">Support@example.com</a><br />
</address>